[Desktop Entry]
Name=Owm
Comment=This session logs you into Ubuntu
Exec=/home/abakken/dev/owm/scripts/runowm.sh
TryExec=/usr/bin/node
Type=Application
DesktopNames=Owm
X-GDM-SessionRegisters=true
X-GDM-CanRunHeadless=true
X-Ubuntu-Gettext-Domain=gnome-session-47
